

<H1>Тестовая демонстрация</H1>

<lib-bs-report></lib-bs-report>

<p-table [value]="appModel">
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Category</th>
      <th>Quantity</th>
      <th>Status</th>
      <th>Reviews</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-report>
    <tr>
      <td>{{ report.name }}</td>
      <td>{{ report.price }}</td>
      <td>{{ report.category }}</td>
      <td>{{ report.quantity }}</td>
      <td>{{ report.status }}</td>
      <td>{{ report.reviews }}</td>
    </tr>
  </ng-template>
</p-table>

<router-outlet>

</router-outlet>
